<ul class="nav nav-sidebar">
  <li><%= link_to "あああああ", root_path %></li>
  <li><%= link_to "あああああ", root_path %></li>
  <li><%= link_to "あああああ", root_path %></li>
  <li><%= link_to "あああああ", root_path %></li>
  <li><%= link_to "あああああ", root_path %></li>
</ul>