<div class="panel-group" id="test" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#test" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          アカウント
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= link_to "会員情報", accounts_users_path %>
      </div>
      <div class="panel-body">
        <%= link_to "スタッフ情報", accounts_staffs_path %>
      </div>      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#test" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          商品
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= link_to "カテゴリ", categories_path %>
      </div>
      <div class="panel-body">
        <%= link_to "アイテム", item_types_path %>
      </div>
      <div class="panel-body">
        <%= link_to "ブランド", brands_path %>
      </div>
      <div class="panel-body">
        <%= link_to "商品", products_path %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#test" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          予約
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        コンテンツ３
      </div>
    </div>
  </div>
</div>


<script>
  //クリックしたらイベント発動
  $('.toggle-btn').click(function () {
    //指定したidを閉じたり開いたり
    $('.collapse-content').collapse('toggle');
  });

  // 開き終わったらテキスト書き換え
  // $('.collapse-content2').on('shown.bs.collapse', function () {
  //   $(this).text('開き終わりました');
  // });
</script>