<div class="panel-group" id="accordion">


  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">予約</a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%= link_to "予約一覧", reservations_path %>
      </div>
      <div class="panel-body">
        <%= link_to "エステメニュー", esthe_menus_path %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">商品</a>
      </h4>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <%= link_to "カテゴリ", categories_path %>
      </div>
      <div class="panel-body">
        <%= link_to "アイテム", item_types_path %>
      </div>
      <div class="panel-body">
        <%= link_to "ブランド", brands_path %>
      </div>
      <div class="panel-body">
        <%= link_to "商品", products_path %>
      </div>
    </div>
  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">その他</a>
      </h4>
    </div>

    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <%= link_to "予約", reservations_path %>
        </div>
    </div>
  </div>


  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">アカウント</a>
      </h4>
    </div>

    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <%= link_to "ユーザー情報", accounts_users_path %>
      </div>
      <div class="panel-body">
        <%= link_to "スタッフ情報", accounts_staffs_path %>
      </div>
    </div>
  </div>


</div>


<script>

  // $(document).ready(function () {
  //     // グループが表示されているときは、アクティブなアコーディオングループとして保存
  //     $("#accordion").on('shown.bs.collapse', function () {
  //         var active = $("#accordion .in").attr('id');
  //         $.cookie('activeAccordionGroup', active);
  //       //  alert(active);
  //     });
  //     $("#accordion").on('hidden.bs.collapse', function () {
  //         $.removeCookie('activeAccordionGroup');
  //     });
  //     var last = $.cookie('activeAccordionGroup');
  //     if (last != null) {
  //         // デフォルト折りたたみ設定を削除
  //         $("#accordion .panel-collapse").removeClass('in');
  //         // account_last可視グループを表示
  //         $("#" + last).addClass("in");
  //     }
  // });
</script>