<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @cart_product.cart %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_product.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cart_product.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cart_product.status %>
</p>

<%= link_to 'Edit', edit_cart_product_path(@cart_product) %> |
<%= link_to 'Back', cart_products_path %>
