<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orderproduct.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @orderproduct.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @orderproduct.quantity %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @orderproduct.sub_total %>
</p>

<%= link_to 'Edit', edit_orderproduct_path(@orderproduct) %> |
<%= link_to 'Back', orderproducts_path %>
