<%= form_with(model: user_info, local: true, class: 'h-adr') do |form| %>

  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if staff_signed_in? %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.number_field :user_id, id: :user_info_user_id %>
    </div>
  <% else %>
      <%= form.hidden_field :user_id, value: @user.id %>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_info_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_info_last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name_kana %>
    <%= form.text_field :first_name_kana, id: :user_info_first_name_kana %>
  </div>

  <div class="field">
    <%= form.label :last_name_kana %>
    <%= form.text_field :last_name_kana, id: :user_info_last_name_kana %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_info_phone %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= raw sprintf(
                form.date_select(
                    :birthday,
                    use_month_numbers: true,
                    start_year:        1930,
                    end_year:          (Time.now.year - 18),
                    default:           Date.new(1989, 1, 1),
                    date_separator:    '%s'),
                '年 ', '月 ') + '日'
     %>
  </div>

  <span class="p-country-name" style="display:none;">Japan</span>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :user_info_zipcode, class: 'p-postal-code' %>
  </div>

  <div class="field">
    <%= form.label :prefecture_name, '都道府県' %>
    <%= form.collection_select(:prefecture_name, JpPrefecture::Prefecture.all, :name, :name, {prompt: ""}, {class: "p-region"}) %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_info_address, class: 'p-locality p-street-address p-extended-address' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
