<p id="notice"><%= notice %></p>

<p>
  <strong>仮表示　User ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Membership_number:</strong>
  <% if  %>
    会員番号は店舗利用時付与されます
  <% else %>
    <%= @user.membership_number %>
  <% end %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_info.last_name %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @user_info.first_name_kana %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @user_info.last_name_kana %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_info.phone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_info.birthday %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user_info.zipcode %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @user_info.prefecture_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_info.address %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %>
