<p id="notice"><%= notice %></p>

<% if @user_info.nil? %>

  <p>アカウント詳細情報が未入力です。</p>

  <%= button_to "詳細情報登録", new_user_info_path, method: :get, class: "btn" %>

<% else %>
  


<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>UserInfo ID:</strong>
  <%= @user_info.id %>
</p>

<p>
  <strong>Membership_number:</strong>
  <%= @user.membership_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user_info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_info.last_name %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @user_info.first_name_kana %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @user_info.last_name_kana %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_info.phone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_info.birthday %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user_info.zipcode %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @user_info.prefecture_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_info.address %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user) %>

<% end %>