<h3>カテゴリ</h3>

<%= form_with(model: @category, local: true, url: staff_categories_path) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, id: :category_name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit '新規追加', class: "btn btn-primary btn-sm" %>
  </div>
  <br>
<% end %>  

<p class="caution-text">※ 紐付いているアイテムタイプが、ある場合には削除ボタンは選択できません。</p>
<p class="caution-text">※ 紐付いているアイテムタイプが、ない場合には詳細ボタンは選択できません。</p>

<div class="table-responsive">

  <table class="table table-condensed table-hover">

    <tbody>

      <% @categories.each do |category| %>
        <tr id="<%= category.id %>">
          <td contentEditable='true' class="categoryName" data-id="<%= category.id %>">
            <%= category.name %>
          </td>
          <td class="btn-in-table">
            <span class="btn btn-danger btn-sm 
            <%= category.item_types.empty? ? " categoryDelete" : "" %>" 
            data-id="<%= category.id %>" 
            <%= raw category.item_types.empty? ? "" : " disabled='disable'" %>
            >削除</span>
          </td> 
          <td class="btn-in-table">
            <% disabled_class = category.item_types.empty? ? "disabled" : "" %>
            <%= link_to '詳細', item_types_path(:category_id => category.id), class: "btn btn-info btn-sm " + disabled_class, disabled: category.item_types.empty? ? true : false %>
          </td>
        </tr>
      <% end %>


    </tbody>

  </table>

</div>

<script>
  $(".categoryName").blur(function(event){

    var id = $(this).data("id");
    var name = $(this).text();

      $.ajax({
          url: '/categories/' + id,
          type: 'PATCH',
          data: {
            category: {
              id: id,
              name: name
              }
          }
        }).done(function(data, status, xhr) {
          if(data.status == "ok"){
            // $("#" + id).addClass("info");
            console.log('更新しました');
          }
        }).fail(function(xhr, status, error) {
            console.log('更新されませんでした');
        });
  });

  $('.categoryDelete').on('click',function(){
     var id = $(this).data("id");

      $.ajax({
          url: '/categories/' + id,
          type: 'delete'
        }).done(function(data, status, xhr) {
          if(data.status == "ok"){
            $("#" + id).fadeOut(1000);
          }
        }).fail(function(xhr, status, error) {
            console.log('削除されませんでした');
        });

  });

  $('.disabled').click(function(e){
     e.preventDefault();
  })

</script>

