<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @esthe_menu.name %>
</p>

<p>
  <strong>Time frame:</strong>
  <%= @esthe_menu.time_frame %>
</p>

<p>
  <strong>Description:</strong>
  <%= @esthe_menu.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @esthe_menu.price %>
</p>

<%= link_to 'Edit', edit_esthe_menu_path(@esthe_menu) %> |
<%= link_to 'Back', esthe_menus_path %>
