<h3>ニュース記事</h3>

<%= link_to '新規投稿', new_news_path, class: "btn btn-primary btn-sm" %>



<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>ニュース分類</th>
        <th>タイトル</th>
        <th>記事ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.news_type.name %></td>
          <td><%= news.title %></td>
          <td><%= news.state %></td>
          <td class="btn-in-table"><%= link_to '詳細', news, class: "btn btn-info btn-sm" %></td>
          <td class="btn-in-table"><%= link_to '編集', edit_news_path(news), class: "btn btn-info btn-sm" %></td>
          <td class="btn-in-table"><%= link_to '削除', news, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
