<p class="navbar-text">店舗管理画面</p>

<ul class="nav navbar-nav navbar-right">
  <p class="navbar-text">ようこそ <%= current_staff.name %> さん。</p>
  <li><%= link_to "ログアウト", destroy_staff_session_path, method: :delete %></li>
  <li class="dropdown dev-menu">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      開発用メニュー<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "DB設計", "https://cacoo.com/diagrams/w9PSawJFBQwWNGvo", :target=>["_blank"] %></li>
      <li><%= link_to "GitHub", "https://github.com/nekosuke0728/estheapp", :target=>["_blank"] %></li>
      <li><%= link_to "機能の紹介", root_path %></li>
      <li><%= link_to "レビュー・バグ報告", root_path %></li>
    </ul>
  </li>
</ul>