<h1>Reservations</h1>

<hr>

<%= link_to 'New Reservation', new_reservation_path %>

<hr>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Staff</th>
      <th>Esthe menu</th>
      <th>Start at</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if @user_info.nil? %>
          <td>未登録</td>
        <% else %>
          <td><%= reservation.user_info.first_name %><%= reservation.user_info.last_name %></td>          
        <% end %>
        <td><%= reservation.staff.name %></td>
        <td><%= reservation.esthe_menu.name %></td>
        <td><%= reservation.start_at %></td>
        <td><%= reservation.comment %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: '本当によろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
