<h1>予約詳細</h1>

<hr>

<p>
  <strong>User ID:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @reservation.staff.name %>
</p>

<p>
  <strong>Esthe menu:</strong>
  <%= @reservation.esthe_menu.name %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @reservation.start_at %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reservation.comment %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
