<h1>支払方法</h1>

<%= form_with(model: @payment, local: true) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, id: :payment_name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
  <br>
<% end %>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td>
            <%= payment.name %>
          </td>
          <td class="btn-in-table">
            <%= link_to '編集', payments_path(id: payment.id), class: "btn btn-info btn-sm" %>
          </td>
           <td class="btn-in-table">
            <%= link_to '削除', payment, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
