<h3>カテゴリ</h3>

<%= form_with(model: @category, local: true) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, id: :category_name %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
  <br>
<% end %>  
  
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
          <td class="btn-in-table">
            <%= link_to '編集', categories_path(id: category.id), class: "btn btn-info btn-sm" %>
          </td>
           <td class="btn-in-table">
            <%= link_to '削除', category, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
