<%= form_with(model: news_type, local: true) do |f| %>
  <% if news_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_type.errors.count, "error") %> prohibited this news_type from being saved:</h2>

      <ul>
      <% news_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :news_type_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
