<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estheapp</title>
    <!-- ファビコン -->
    <!-- <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico"> -->
    <%= csrf_meta_tags %>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-costom">
      <div class="container">
        <!-- width767px以下はハンバーガーメニュー -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ranunculus</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <% if staff_signed_in? %>
            <%= render "navbars/staff" %>
          <% else %>
            <%= render "navbars/user" %>
          <% end %>
        </div>
      </div>
    </nav>

    <% if controller.controller_name == "home" %>
      <%= yield %>    
    <% else %>
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-3 col-md-2 sidebar">
            <% if staff_signed_in? %>
              <%= render "sidebars/staff" %>
            <%# elsif controller.controller_name == "online_shop" %>
              <%#= render "sidebars/shop" %>
            <% else %>
              <%= render "sidebars/user" %>
            <% end %>
          </div>

          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="main-box">
              <% flash.each do |key, value| %>
                <% key = "info" if key == "notice" %>
                <% key = "danger"  if key == "alert" %>
                <%= content_tag :div, value, class: "alert alert-#{key}" %>
              <% end %>
              <%= yield %>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  </body>
</html>
